/********************************************************************************
************************************MAIN CSS*************************************
********************************************************************************/
body{
    /*background-image: url("../images/race-day-bw.jpg");*/
    background-color: #1A1A1A;
}
.packery{
    margin-top: 50px;
}
.mynavbar-header{
    margin: 0px auto;
    border: 0px;
    /*border-color: hsla(0, 0%, 0%, 0.3);*/
    border-radius: 0px;
    background: #1A1A1A;
}
.mynavbar-footer{
    margin: 0px auto;
    border: 0px;
    /*border-color: hsla(0, 0%, 0%, 0.3);*/
    border-radius: 0px;
    background: #1A1A1A;
}
#qspan{
    font-size: 2em;
}
#vehicle-selection{
    margin-top: 1.5%;
}
.tile-image {
    height: 100%;
    width: auto;
    padding: 10px 10px 10px 10px;
}
/********************************************************************************
************************************PACKERY*************************************
********************************************************************************/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body { font-family: sans-serif; }

.packery {
    background: #FDD;
    /*background: hsla(45, 100%, 40%, 0.2);*/
    background: #1A1A1A;
}
/* clearfix */
.packery:after {
    content: ' ';
    display: block;
    clear: right;
}
.item {
    width: 40px;
    height: 40px;
    float: left;
    background: #C09;
    border: 1px solid #333;
    border-color: hsla(0, 0%, 0%, 0.3);
    margin: 0px auto;
}
.item:hover {
    border-color: white;
    cursor: move;
}
/*.item.wall{ width: 100%; background: #1A1A1A }*/
/*.item.hall{height:50px; background: #1A1A1A }*/
/*.item.w1{ width:100px; background: #1A1A1A; }*/
/*.item.h1{ height:100px; background: #1A1A1A; }*/
/*.item.w1-5{ width:150px; background: #1A1A1A; }*/
/*.item.h1-5{ height:150px; background: #1A1A1A; }*/
/*.item.w2{ width: 200px; background: teal; }*/
/*.item.h2{ height: 200px; background: teal; }*/
/*.item.w3{ width:  300px; background: teal; }*/
/*.item.h3{ height: 300px; background: teal; }*/
/*.item.h4{ height: 400px; background: #1A1A1A; }*/
/*.item.w4{ width: 400px; background: #1A1A1A; }*/
/*.item.h5{ height: 500px; background: #1A1A1A; }*/
/*.item.w5{ width: 500px; background: #1A1A1A; }*/
/*.item.h6{ height: 600px; background: #1A1A1A; }*/
/*.item.w6{ width: 600px; background: #1A1A1A; }*/

.item.is-dragging,
.item.is-positioning-post-drag {
    border-color: white;
    background: #09F;
    z-index: 2;
}
#account-tile{
    display: block;
    background-image: url("/images/my-account-icon.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
#vehicle-tile{
    display: block;
    background-image: url("/images/my-vehicles-icon.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
#manual-tile{
    display: block;
    background-image: url("/images/manual-icon-tran.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
#shop-tile{
    display: block;
    background-image: url("/images/parts-shopping-icon.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
#video-tile{
    display: block;
    background-image: url("/images/play-icon.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
/********************************************************************************
************************************SIGNIN***************************************
********************************************************************************/
.signin-group{
    margin-left: 20%;
    margin-right: 20%;
    margin-top:80px
}
.signin-input{
    margin: 5px auto;
    border-radius: 5px !important;
}
/********************************************************************************
************************************CAROUSEL*************************************
********************************************************************************/
/*#carousel-tile{*/
    /*height: 100%;*/
    /*overflow: hidden;*/
/*}*/
/*.slide-image{*/
    /*height: 100%;*/
    /*width: auto;*/
/*}*/
/********************************************************************************
************************************SEARCH***************************************
********************************************************************************/
.search-row{
    margin-top: 80px;
}
#search-return-area{
    color: white;
    padding: 10px 10px 10px 10px;
}
.return-title{
    font-size: 24px;
}
.return-link{
    text-decoration: underline;
}
.return-description{
    font-size: 18px;
}
/********************************************************************************
*******************************VEHICLE SELECTOR**********************************
********************************************************************************/
#vehicle-selector{
    text-align: center;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    display: none;
}
#breadcrumbs li{
    display: inline;
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#breadcrumbs{
    background: #eee;
    border-width: 1px;
    border-style: solid;
    border-color: #f5f5f5 #e5e5e5 #ccc;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    overflow: hidden;
    width: 100%;
}
#breadcrumbs li{
    float: left;
}
#breadcrumbs a{
    padding: .7em 1em .7em 2em;
    float: left;
    text-decoration: none;
    color: #444;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    background-color: #ddd;
    background-image: linear-gradient(to right, #f5f5f5, #ddd);
}
#breadcrumbs li:first-child a{
    padding-left: 1em;
    border-radius: 5px 0 0 5px;
}
#breadcrumbs a:hover{
    background: #fff;
}
#breadcrumbs a::after,
#breadcrumbs a::before{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid;
    right: -1em;
}
#breadcrumbs a::after{
    z-index: 2;
    border-left-color: #ddd;
}
#breadcrumbs a::before{
    border-left-color: #ccc;
    right: -1.1em;
    z-index: 1;
}
#breadcrumbs a:hover::after{
    border-left-color: #fff;
}
#breadcrumbs .current,
#breadcrumbs .current:hover{
    font-weight: bold;
    background: none;
}
#breadcrumbs .current::after,
#breadcrumbs .current::before{
    content: normal;
}
.dropdowns{
    margin-top: 5%;
    /*margin-left: 5%;*/
    /*margin-right: 5%;*/
}
.buttons{
    margin-top: 5%;
}













